* {
  box-sizing: border-box;
}



h1 {
		margin-bottom: 15px;
   text-align: center;
   color: #080201;
   font-size: 50px;
}

section { 
		 position: relative;
     padding: 15px;
     width: 90%;
 }

 body {
        background-color: lightblue;
    }


 
p {
	position: relative;
	clear:right;
}


 
    .nr1 {
	float: right;
  width: 100px;
  padding: 5px;
  margin: -3px -3px 0px;
  border: 3.5px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color:#7b51ed;
}

.nr2 {
	float: right;
  color: white;
  width: 100px;
  padding: 5px;
  margin: -3px -3px 0px;
  border: 3.5px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: #FF0000;
  
}
.nr3 {
	background-color: rgb(200, 200, 100);
	float: right;
  width: 100px;
  padding: 5px;
  margin: -3px -3px 0px;
  border: 3.5px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
	color: rgb(0, 0, 0);
}

.content {
		padding: 5px;
    border: none;
  	background-color: #e0daf0;
  	font-family: Helvetica;
  	color: black;
  	margin: 3px ;
  	height: 150px;
  	overflow: auto;
}


div {
      position: relative;
      background-color:#c9c7c7;
      border: 3.5px solid black;
      width: 105%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
    }




.row {
	width: 90%;
}



/* Tablet PC view */
@media (min-width: 768px) and (max-width: 991px) {
 
  .colmn-md-6 {
    width: 50%;
    float: left;
    margin-left:auto;
    margin-right: auto;
  }

  .colmn-md-12 {
    width: 100%;
    float: left;
    margin-left:auto;
    margin-right: auto;

  }
}


/* Desktop PC view */

@media (min-width: 992px) {
 
  .column-lg-4 {
    width: 33.33%;
    float: left;
	}
}

/* Cell phone view */
@media (max-width: 767px)  {
  
  .colmn-sm-12 {
  	float: left;
    width: 100%;
  }
}
